<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Mon profil"></Label>
</ActionBar>

<StackLayout class="page page-content">
        <StackLayout>
            <Image stretch="none" borderRadius="75" width="150" height="150" src="https://images.pexels.com/photos/428364/pexels-photo-428364.jpeg?auto=compress&cs=tinysrgb&h=350" marginBottom="-20"></Image>
            <Label textWrap="true" text="Gabb" class="titre centre" width="100%"></Label>
        </StackLayout>
    <ScrollView>
    </ScrollView>
</StackLayout>