<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Parcourir"></Label>
</ActionBar>

<StackLayout class="page page-content">
    <ScrollView>
        <StackLayout>
            <GridLayout columns="175,*" *ngFor="let b of beatsService.beats; let i = index" class="cartel">
                <StackLayout col="0">
                    <Image src="res://soad" class="vignette"></Image>
                </StackLayout>
                <StackLayout col="1">
                    <Label text="Titre"></Label>
                    <Label [text]="b.titre" class="titre"></Label>
                    <Label text="Auteur"></Label>
                    <Label [text]="b.auteur" class="titre"></Label>
                    <Label text="Durée"></Label>
                    <Label [text]="b.duree +' mn'" class="titre"></Label>
            </StackLayout>
            </GridLayout>>
        </StackLayout>
    </ScrollView>
</StackLayout>