// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
@import '~nativescript-theme-core/css/core.dark.css';
// Font icon class
.fa {
   font-family: "FontAwesome";
}
// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }

    color:$ab-color;
    background-image:linear-gradient(to bottom, black, #602060);
}
.titre{
    font-size:18;
    font-weight: bold;
}
.cartel{
    background-color:rgba(255,255,255,0.1);
    padding:10;
    margin-bottom:20;
}
.surimpression{
    padding-bottom:40;
    margin-bottom:-30;
    border-top-left-radius:10;
    border-top-right-radius:10;
}
.centre{
    text-align: center;
}
.vignette{
    margin:5;
    margin-right:15;
}
//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
}
