<ActionBar class="action-bar">
    <Label class="action-bar-title" text="AfroBeat"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout>
        <ScrollView orientation="vertical" marginTop="20">
            <StackLayout>
                <StackLayout>
                    <Image src="res://afrique"></Image>
                </StackLayout>
                
                <StackLayout class="cartel surimpression">
                    <Label text="Best beats" class="titre"></Label>
                </StackLayout>
                <TabView class="cartel tab-view" >
                    <ng-container *ngFor="let b of beatsService.beats | slice:0:4">
                        <TabViewItem *tabItem="{title: '', iconSource: 'res://soad'}" ></TabViewItem>
                    </ng-container>
                </TabView>
                <StackLayout class="cartel surimpression">
                    <Label text="Best beatmakers" class="titre"></Label>
                </StackLayout>
                <TabView class="cartel tab-view">
                    <ng-container *ngFor="let b of beatsService.beats">
                        <StackLayout *tabItem="{title: '', iconSource: 'res://cover3'}"></StackLayout>
                    </ng-container>
                </TabView>
                <StackLayout class="cartel surimpression">
                    <Label text="Pays du jour" class="titre"></Label>
                </StackLayout>
                <TabView class="cartel tab-view">
                    <ng-container *ngFor="let b of beatsService.beats">
                        <StackLayout *tabItem="{title: '', iconSource: 'res://cover3'}"></StackLayout>
                    </ng-container>
                </TabView>
            
            <TabView height="200" class="tab-view">
                    <StackLayout *tabItem="{title: 'Top beats'}">
                            <ListView [items]="beatsService.beats" (itemTap)="onItemTap($event)" class="list-group">
                                <ng-template let-beat="item" let-i="index" let-odd="odd" let-even="even">
                                    <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
                                    <StackLayout orientation="horizontal" class="list-group-item">
                                        <Label [text]="beat.titre" textWrap="true"></Label>
                                        <Label [text]="beat.duree"></Label>
                                    </StackLayout>
                                </ng-template>
                            </ListView>
                    </StackLayout>
                    <StackLayout *tabItem="{title: 'latest beats'}">
                        <StackLayout>
                            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
                            <StackLayout orientation="horizontal" *ngFor="let b of beatsService.beats; let i = index" >
                                <Label [text]="i+' - '" textWrap="true"></Label>
                                <Label [text]="b.titre" textWrap="true"></Label>
                                <Label [text]="b.duree"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout *tabItem="{title: 'latest beatmakers'}">
                        <StackLayout>
                            <Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
                        </StackLayout>
                    </StackLayout>
            </TabView>
        </StackLayout>
        </ScrollView>
    </StackLayout>
</GridLayout>